@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* COMMON */
.container{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.f-right{
    float: right;
}
.border-radius-25{
    border-radius: 25px;
}

/* column */
.col-50{
    width: 50%;
    padding: 0 20px;
}
.col-100{
    width: 100%;
    margin: 10px 20px;
}

/* COMMON TO REMOVE */
/* color's */
.bg-blue{
    background-color: #B5DDFF;
}
.bg-purple{
    background-color: #9792E4;
}
.bg-white{
    background-color: #fff;
}
/* height */
.height-300{
    height: 300px;
}
.height-600{
    height: 600px;
}
/* HEADER */
header{
    width: 100%;
    background-color: #0084FD;
    padding: 20px 0;
    color: white;
}